{
  "openapi": "3.1.0",
  "info": {
    "title": "BFLabs Agent Readiness API",
    "version": "1.0.0",
    "description": "Run a bounded public-site readiness scan and read the opt-in readiness leaderboard. Readiness, AI visibility, and business outcome remain separate.",
    "contact": {"email": "hello@bflabs.cn"},
    "license": {"name": "MIT", "identifier": "MIT"}
  },
  "servers": [{"url": "https://readiness.bflabs.cn"}],
  "paths": {
    "/api/v1/scans": {
      "post": {
        "operationId": "runReadinessScan",
        "summary": "Run a fresh public-site readiness scan",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url"],
                "properties": {
                  "url": {"type": "string", "format": "uri"},
                  "publish_to_leaderboard": {"type": "boolean", "default": false},
                  "prepare_workbuddy_handoff": {"type": "boolean", "default": false}
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completed report",
            "content": {
              "application/json": {"schema": {"$ref": "#/components/schemas/ScanReport"}},
              "text/markdown": {"schema": {"type": "string"}}
            }
          },
          "400": {"$ref": "#/components/responses/Problem"},
          "403": {"$ref": "#/components/responses/Problem"},
          "429": {"$ref": "#/components/responses/Problem"}
        }
      }
    },
    "/api/v1/geo-handoffs/redeem": {
      "post": {
        "operationId": "redeemGeoHandoff",
        "summary": "Redeem a one-time GEO handoff capability",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token"],
                "properties": {"token": {"type": "string", "minLength": 43, "maxLength": 43}},
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Bounded readiness receipt", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GeoHandoffReceipt"}}}},
          "410": {"$ref": "#/components/responses/Problem"},
          "503": {"$ref": "#/components/responses/Problem"}
        }
      }
    },
    "/api/v1/leaderboard": {
      "get": {
        "operationId": "getReadinessLeaderboard",
        "summary": "Read the opt-in public readiness leaderboard",
        "responses": {"200": {"description": "Leaderboard", "content": {"application/json": {"schema": {"type": "object"}}}}}
      }
    },
    "/api/v1/rulesets/current": {
      "get": {
        "operationId": "getCurrentRuleset",
        "summary": "Read the current three-axis ruleset version",
        "responses": {"200": {"description": "Ruleset", "content": {"application/json": {"schema": {"type": "object"}}}}}
      }
    },
    "/skills/{skillId}/manifest.json": {
      "get": {
        "operationId": "getSkillResourceManifest",
        "summary": "Read one Skill's versioned companion-file manifest",
        "parameters": [
          {"name": "skillId", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "Versioned companion-file manifest",
            "headers": {
              "Cache-Control": {"schema": {"type": "string", "example": "public, max-age=300"}}
            },
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SkillResourceManifest"}}}
          },
          "404": {
            "description": "Skill or resource does not exist",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SkillResourceError"}}}
          }
        }
      }
    },
    "/skills/{skillId}/{resourcePath}": {
      "get": {
        "operationId": "getSkillResource",
        "summary": "Read one Skill companion file",
        "parameters": [
          {"name": "skillId", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "resourcePath", "in": "path", "required": true, "schema": {"type": "string"}, "style": "simple", "explode": false}
        ],
        "responses": {
          "200": {
            "description": "Companion file",
            "headers": {
              "Cache-Control": {"schema": {"type": "string", "example": "public, max-age=300"}},
              "ETag": {"schema": {"type": "string"}},
              "X-Content-Type-Options": {"schema": {"type": "string", "example": "nosniff"}}
            }
          },
          "304": {
            "description": "Not modified",
            "headers": {
              "ETag": {"schema": {"type": "string"}}
            }
          },
          "404": {
            "description": "Skill or resource does not exist",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SkillResourceError"}}}
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ScanReport": {
        "type": "object",
        "required": ["schema_version", "scan_fingerprint", "target", "scan", "axes", "agent_prompt", "agent_journey"],
        "properties": {
          "schema_version": {"type": "string"},
          "scan_fingerprint": {"type": "string"},
          "target": {"type": "object"},
          "scan": {"type": "object"},
          "axes": {"type": "array"},
          "agent_prompt": {"type": "string"},
          "agent_journey": {"type": "object"},
          "leaderboard_publication": {"type": "object"},
          "geo_handoff": {"oneOf": [{"$ref": "#/components/schemas/GeoHandoffIssue"}, {"type": "null"}]}
        },
        "additionalProperties": true
      },
      "GeoHandoffIssue": {
        "type": "object",
        "required": ["schema_version", "continue_url", "expires_at"],
        "properties": {
          "schema_version": {"const": "bflabs.geo-handoff-issue/1.0.0"},
          "continue_url": {"type": "string", "format": "uri"},
          "expires_at": {"type": "string", "format": "date-time"}
        },
        "additionalProperties": false
      },
      "GeoHandoffReceipt": {
        "type": "object",
        "required": ["schema_version", "target_origin", "scan_fingerprint", "scanned_at", "axes", "evidence_gaps", "recommended_skill", "disclaimers"],
        "properties": {
          "schema_version": {"const": "bflabs.geo-handoff/1.0.0"},
          "target_origin": {"type": "string", "format": "uri"},
          "scan_fingerprint": {"type": "string", "pattern": "^sha256:[a-f0-9]{64}$"},
          "scanned_at": {"type": ["string", "null"], "format": "date-time"},
          "axes": {"type": "array", "minItems": 3, "maxItems": 3},
          "evidence_gaps": {"type": "array", "maxItems": 24},
          "recommended_skill": {"type": ["string", "null"]},
          "disclaimers": {"type": "object"}
        },
        "additionalProperties": false
      },
      "SkillResourceManifest": {
        "type": "object",
        "required": ["version", "url", "digest", "resources"],
        "properties": {
          "version": {"type": "string"},
          "url": {"type": "string", "format": "uri"},
          "digest": {"type": "string"},
          "resources": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["path", "url", "sha256", "bytes"],
              "properties": {
                "path": {"type": "string"},
                "url": {"type": "string", "format": "uri"},
                "sha256": {"type": "string"},
                "bytes": {"type": "integer"}
              }
            }
          }
        }
      },
      "SkillResourceError": {
        "type": "object",
        "required": ["error"],
        "properties": {"error": {"type": "string"}}
      },
      "ProblemDetails": {
        "type": "object",
        "required": ["type", "title", "status", "code", "detail", "resolution"],
        "properties": {
          "type": {"type": "string", "format": "uri"},
          "title": {"type": "string"},
          "status": {"type": "integer"},
          "code": {"type": "string"},
          "detail": {"type": "string"},
          "resolution": {"type": "string"},
          "instance": {"type": "string"}
        }
      }
    },
    "responses": {
      "Problem": {
        "description": "Structured problem details",
        "content": {"application/problem+json": {"schema": {"$ref": "#/components/schemas/ProblemDetails"}}}
      }
    }
  }
}
